body {
  background-color: black;
  color: white; 
}


.loading-indicator {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.movie-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Adjust the height as needed */
  padding: 20px;
}

.movies-list {
  width: 80%; /* Adjust the width as per your design */
  margin: 0 auto; /* This will center the movies-list if it's smaller than the movie-page */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
}



.movie {
  flex-basis: 22%; 
}

.movie img {
  width: 100%; 
  height: auto;
  
}


.movie-details {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
}

.movie-details img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.movie-details h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;

}

.movie-details p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.movie-details p.genre,
.movie-details p.rating,
.movie-details p.released,
.movie-details p.price,
.movie-details p.discountedPrice,
.movie-details p.tags,
.movie-details p.favorite {
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}





/* Common styles for both buttons */
.watch-button,
.download-button {
  display: inline-block;
  padding: 10px 40px; /* Adjust padding for button size */
  font-size: 1.2em; /* Adjust font size */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px; /* Adjust border radius for rounded corners */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}


.watch-button {
  background-color: #ff4081; 
  color: white;
}


.download-button {
  background-color: #e53935; 
  color: white;
}

/* Hover effect for both buttons */
.watch-button:hover,
.download-button:hover {
  background-color: #ff80ab; 
}

.icons-container {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin: 10px;
}

.red-color {
  color: red;
}


.icon-favorite, .icon-watch-later, .icon-watched {
  cursor: pointer;
}


.watch-trailer-button {
  display: block; 
  width: 50%; 
  margin: 0 auto; 
  padding: 10px 20px;
  margin-top: 20px; 
  margin-bottom: 20px;
  font-size: 1em; 
  border-radius: 15px; 
  background-color: #2A2542; 
  color: white; 
  border: none; 
  cursor: pointer; /
  transition: background-color 0.3s ease; 
}

.watch-trailer-button:hover {
  background-color: rgba(0, 87, 179, 0.466);
}



.Comments h3 {
  color: #fffdfd;
  margin-bottom: 10px;
}


.comments-list {
  max-height: 300px; 
  overflow-y: auto; 
  margin-bottom: 15px;
  padding: 10px;
  background-color: #2A2542;
  border-radius: 5px;
  border: 1px solid #2A2542;
}

/
.comment {
  background-color: #eee; 
  margin-top: 10px;
  border-radius: 5px;
  font-size: 0.9em;
}


.comment-form {
  display: flex;
  gap: 10px; }


.comment-input {
  flex-grow: 1; 
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


.comment-submit {
  padding: 8px 15px;
  background-color: #E5E5E5;
  border-radius: 15px;
  border: 1px solid #ccc;
 }

 .Comments {
  margin: 20px;
 }


